# node_modules/
# bower_components/
# node_modules*/
# node_modules/
coverage/
.sass-cache/
.idea/
.tmp/
dist_mms/
# src/app/components/services/BaseUrl.js
# venv/
# env/
# src/app/components/services/BaseUrl_Files.js
