<!-- <div class="task-container"> -->
<div ng-if="x.type == 'input'" class="">
  <div class="col-md-{{x.width}}" ng-if="x.category == 'text'">
    <span ng-if="x.answerable" ng-bind-html="x.label"></span>
    <span ng-if="!x.answerable" class="question">
      <b> {{$index+1}}.&nbsp;) &nbsp;</b>
      <span class="ques_label" for="" ng-bind-html="x.label"></span
      ><span ng-if="x.mand" style="color: red"> *</span></span
    >
    <div ng-include src="'app/pages/MMS/evaluateForm/Input_Text.html'"></div>
    <br />
  </div>

  <div class="col-md-{{x.width}}" ng-if="x.category == 'email'">
    <span ng-if="x.answerable" ng-bind-html="x.label"></span>
    <span ng-if="!x.answerable" class="question">
      <b> {{$index+1}}.&nbsp;) &nbsp;</b>
      <span class="ques_label" for="" ng-bind-html="x.label"></span
      ><span ng-if="x.mand" style="color: red"> *</span></span
    >
    <div ng-include src="'app/pages/MMS/evaluateForm/Email.html'"></div>
    <br />
  </div>

  <div class="col-md-{{x.width}}" ng-if="x.category == 'number'">
    <span ng-if="x.answerable" ng-bind-html="x.label"></span>
    <span ng-if="!x.answerable" class="question">
      <b> {{$index+1}}.&nbsp;) &nbsp;</b>
      <span class="ques_label" for="" ng-bind-html="x.label"></span
      ><span ng-if="x.mand" style="color: red"> *</span></span
    >
    <div ng-include src="'app/pages/MMS/evaluateForm/Number.html'"></div>
    <br />
  </div>

  <div ng-if="x.category == 'paragraph'">
    <span ng-if="x.answerable" ng-bind-html="x.label"></span>
    <span ng-if="!x.answerable" class="question">
      <b> {{$index+1}}.&nbsp;) &nbsp;</b>
      <span class="ques_label" for="" ng-bind-html="x.label"></span
      ><span ng-if="x.mand" style="color: red"> *</span></span
    >
    <div ng-include src="'app/pages/MMS/evaluateForm/paragraph.html'"></div>
    <br />
  </div>
  <div ng-if="x.category == 'radio'">
    <div class="col-md-12">
      <span ng-if="x.answerable" ng-bind-html="x.label"></span>
      <span ng-if="!x.answerable" class="question">
        <b> {{$index+1}}.&nbsp;) &nbsp;</b>
        <span class="ques_label" for="" ng-bind-html="x.label"></span
        ><span ng-if="x.mand" style="color: red"> *</span></span
      >
    </div>
    <br />
    <div class="row">
      <div ng-repeat="y in x.options track by $index" class="col-md-6">
        <!-- <div class="row"> -->

        <div
          class="col-md-6"
          ng-include
          src="'app/pages/MMS/evaluateForm/radio_btn.html'"
        ></div>

        <!-- </div> -->
      </div>
      <!-- <div class="col-md-6">
                <div class="col-md-6">
                    <label ng-if="!x.answerable"  style="font-weight: 400;" class="checkbox minotaur-radio"> Other
                        <input ng-value="'true'" ng-model="vm.other[$index]" uib-tooltip="{{x.info}}" name="vm[x.model]" type="radio">
                        <div class="input-indicator"></div>
                      </label>
                </div>
                <div ng-if="vm.other[$index] == 'true' ? true : false" class="col-md-6">
                    <input type="text" ng-model="x.answer" class="form-control" name="" id="">
                </div>
            </div> -->
    </div>

    <span ng-if="x.isremarks == true">
      <br />
      <textarea
        placeholder="Remarks"
        ng-model="x.remarks"
        class="remarks form-control"
        name=""
        id=""
        cols="30"
        rows="10"
      ></textarea>
    </span>
    <br />
  </div>
  <div ng-if="x.category == 'checkbox'">
    <div class="col-md-12">
      <span ng-if="x.answerable" ng-bind-html="x.label"></span>
      <span ng-if="!x.answerable" class="question">
        <b> {{$index+1}}.&nbsp;) &nbsp;</b>
        <span class="ques_label" for="" ng-bind-html="x.label"></span
        ><span ng-if="x.mand" style="color: red"> *</span></span
      >
    </div>
    <br />
    <div class="row">
      <div
        ng-repeat="y in x.options track by $index"
        class="col-md-6"
        ng-init="x.answer = []"
      >
        <!-- <div class="row">
                        <div class="col-md-6">
                            <label for="">{{$index+1}} ) {{y}}</label>
                        </div> -->
        <div class="row">
          <div
            class="col-md-6"
            ng-include
            src="'app/pages/MMS/evaluateForm/check_box.html'"
          ></div>
        </div>
        <!-- </div> -->
      </div>
    </div>

    <span ng-if="x.isremarks == true">
      <br />
      <textarea
        placeholder="Remarks"
        ng-model="x.remarks"
        class="remarks form-control"
        name=""
        id=""
        cols="30"
        rows="10"
      ></textarea>
    </span>
    <br />
  </div>
  <div class="col-md-12" ng-if="x.category == 'date'">
    <span ng-if="x.answerable" ng-bind-html="x.label"></span>
    <span ng-if="!x.answerable" class="question">
      <b> {{$index+1}}.&nbsp;) &nbsp;</b>
      <span class="ques_label" for="" ng-bind-html="x.label"></span
      ><span ng-if="x.mand" style="color: red"> *</span></span
    >
    <div ng-include src="'app/pages/MMS/evaluateForm/date.html'"></div>
    <br />
  </div>
  <div class="col-md-{{x.width}}" ng-if="x.category == 'file'">
    <span ng-if="x.answerable" ng-bind-html="x.label"></span>
    <span ng-if="!x.answerable" class="question">
      <b> {{$index+1}}.&nbsp;) &nbsp;</b>
      <span class="ques_label" for="" ng-bind-html="x.label"></span
      ><span ng-if="x.mand" style="color: red"> *</span></span
    >
    <div ng-include src="'app/pages/MMS/evaluateForm/file_upload.html'"></div>
    <br />
  </div>
</div>

<div class="col-md-{{x.width}}" ng-if="x.category == 'slider'">
  <span ng-if="x.answerable" ng-bind-html="x.label"></span>
  <span ng-if="!x.answerable" class="question">
    <b> {{$index+1}}.&nbsp;) &nbsp;</b>
    <span class="ques_label" for="" ng-bind-html="x.label"></span
    ><span ng-if="x.mand" style="color: red"> *</span></span
  >
  <div ng-include src="'app/pages/MMS/evaluateForm/slider.html'"></div>
  <br />
</div>

<div class="col-md-{{x.width}}" ng-if="x.type == 'dropdown'">
  <span ng-if="x.answerable" ng-bind-html="x.label"></span>
  <span ng-if="!x.answerable" class="question">
    <b> {{$index+1}}.&nbsp;) &nbsp;</b>
    <span class="ques_label" for="" ng-bind-html="x.label"></span
    ><span ng-if="x.mand" style="color: red"> *</span></span
  >
  <div ng-include src="'app/pages/MMS/evaluateForm/drop_down.html'"></div>
  <br />
</div>
<!-- </div> -->
