<head>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <style type="text/css">
    .comfortaa {
        font-family: 'Comfortaa', cursive;
    }
    .dot {
      height: 40px;
      width: 40px;
      background-color: #b3ffec;
      border-radius: 50%;
      display: inline-block;
      padding-top:6px;
      padding-left:13px;
      font-size:25px
    }
    </style>
</head>
<div class="page page-dashboard pull-to-header">
    <div class="controller">
        <div class="row">
          <div class="col-sm-0 col-md-1 col-lg-2"></div>
          <div class="col-sm-12 col-md-10 col-lg-8">
        <h3 class="form-group col-lg-6 clearfix">Welcome {{dashboard.detail.name}} </h3>
    
    <br/>
    <br/>
    <h3 class=" text underline"></h3>
    
   
    <div ng-hide="dashboard.dashboard_hide" class="row tile">
                    <section class="tile-header">
                        <h1 class="heading" style="color: #1199d3;">Live Exam</h1>
                        </section>
                    <section class="tile-body ">
                                <table class="table minotaur-table ">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Course</th>
                                            <th>Subject</th>
                                            <th>Exam Title</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in dashboard.live_exam">
                                            <td>{{$index+1}}.</td>
                                            <td>{{x.form_id__course}}</td>
                                            <td>{{x.form_id__subject}}</td>
                                            <td>{{x.form_id__exam_title}}</td>
                                            <td>{{x.form_id__start_time}}</td>
                                            <td>{{x.form_id__end_time}} </td>
                                            <th> 
                                                <button ng-if="x.form_status == 0" ng-click="dashboard.openForm(x.form_id)" class="btn btn-primary">
                                                  ATTEMPT
                                                </button>
                                                <span ng-if="x.form_status == 1" style="color: green; font-weight: bold;">ATTEMPTED</span>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                    </section>
                    <br />
                </div><div ng-hide="dashboard.dashboard_hide" class="row tile">
                    <section class="tile-header" style="margin-top: 20px;">
                        <h1 class="heading" style="color: #1199d3;">Upcomming Exam</h1>
                        </section>
                    <section class="tile-body">
                                <table class="table minotaur-table ng-table-rowselected">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Course</th>
                                            <th>Subject</th>
                                            <th>Exam Title</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Countdown</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in dashboard.upcoming_exam">
                                            <td>{{$index+1}}.</td>
                                            <td>{{x.form_id__course}}</td>
                                            <td>{{x.form_id__subject}}</td>
                                            <td>{{x.form_id__exam_title}}</td>
                                            <td>{{x.form_id__start_time}}</td>
                                            <td>{{x.form_id__end_time}} </td>
                                            <th>{{x.remaining_time}}</th>
                                        </tr>
                                    </tbody>
                                </table>
                    </section>
                    <br />
                </div><div ng-hide="dashboard.dashboard_hide" class="row tile">
                    <section class="tile-header" style="margin-top: 20px;">
                        <h1 class="heading" style="color: #1199d3;">Previous Exam</h1>
                        </section>
                    <section class="tile-body ">
                                <table class="table minotaur-table ng-table-rowselected">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Course</th>
                                            <th>Subject</th>
                                            <th>Exam Title</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <!-- <th>Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in dashboard.previous_exam">
                                            <td>{{$index+1}}.</td>
                                            <td>{{x.form_id__course}}</td>
                                            <td>{{x.form_id__subject}}</td>
                                            <td>{{x.form_id__exam_title}}</td>
                                            <td>{{x.form_id__start_time}}</td>
                                            <td>{{x.form_id__end_time}} </td>
                                            <!-- <th> 
                                                <button ng-click="dashboard.openForm(x.form_id)" class="btn btn-primary">
                                                  ATTEMPT
                                                </button>
                                            </th> -->
                                        </tr>
                                    </tbody>
                                </table>
                    </section>
</div>
                    
            
        </div>
    </div>
  
    <!-- /////////////////////////// -->
    <!-- //////////////////////////// -->
    <div ng-show="dashboard.dashboard_hide" style="margin-left: 2%; margin-right:2%; ">
        <div class="row">
            <div class="col-md-1 col-md-offset-10" style="background: #fff;margin-bottom: 20px;text-align:center;border-radius:4px;box-shadow: 0 0 2px grey"><button ng-click="dashboard.dashboard_hide = 0" class="btn btn-transparent"><i class="fa fa-times"></i></button></div>
            <!-- col -->
            <div class="col-md-4">
                <!-- tile -->
                <div class="tile ng-scope portlet bg-primary">
                    <!-- tile header -->
                    <section class="tile-header">
                        <h3 style="font-size:100%;">Welcome {{dashboard.details1.names.name_n_join_date_contact[0].nme}}!</h3>
                    </section>
                    <!-- /tile header -->
                    <!-- tile widget -->
                    <!-- /tile widget -->
                    <section class="tile-body bg-white" style="height:310px; ">
                        <img class="img-circle" src="{{dashboard.imagepath}}" alt="image" style="height:250px; width:200px;">
                    </section>
                </div>
                <!-- /tile -->
            </div>
            <!-- /col -->
            <!-- col -->
            <!-- tile -->
            <div class="col-md-8 portlets ">
                <!-- tile -->
                <div class="tile portlet bg-primary">
                    <!-- tile header -->
                    <section class="tile-header">
                        <h3>Basic Information</h3>
                    </section>
                    <!-- /tile header -->
                    <!-- tile body -->
                    <!-- tile body -->
                    <section class="tile-body bg-white" style="color: black;font-size: 120%; height: 300px; position: inherit;overflow-y: auto;">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td><strong>Title:</strong></td>
                                    <td>{{dashboard.details1.names.title_value[0].title_name}}</td>
                                    <td><strong>Name:</strong></td>
                                    <td>{{dashboard.details1.names.name_n_join_date_contact[0].nme}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Designation:</strong></td>
                                    <td> {{dashboard.details1.names.dsgn_value[0].dsgn_name}}</td>
                                    <td><strong> Department:</strong></td>
                                    <td>{{dashboard.details1.names.dept_value[0].dept_name}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Employee Id:</strong></td>
                                    <td>{{dashboard.details1.pmail}}</td>
                                    <td><strong>Mobile No.:</strong></td>
                                    <td>{{dashboard.details1.names.name_n_join_date_contact[0].primary_mobile}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Employee Category:</strong></td>
                                    <td>{{dashboard.details1.names.coe_value[0].coe_name}}</td>
                                    <td><strong>Shift: </strong></td>
                                    <td>{{dashboard.details1.names.sft_value[0].sft_name}}</td>
                                </tr>
                            </table>
                        </div>
                    </section>
                    <!-- /tile body -->
                </div>
                <!-- /tile -->
            </div>
            <!-- /tile -->
        </div>
        <!-- /col -->
        <div class="tile" style="position: inherit;">
            <div class="tile " ng-show="dashboard.show">
                <div>
                    <section class="tile-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody style="font-size: 120%; color: black;overflow-x: auto;">
                                    <tr class="danger">
                                        <td><strong>Type of employment:</strong> </td>
                                        <td>{{dashboard.details1.names.toe_value[0].toe_name}}</td>
                                        <td><strong>Date of joining:</strong></td>
                                        <td>{{dashboard.details1.names.name_n_join_date_contact[0].date_joining | date:'dd-MM-yyyy' }} </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Join at position:</strong></td>
                                        <td>{{dashboard.details1.names.join_pos.val[0].join_pos_value}}</td>
                                        <td><strong>Current Position:</strong></td>
                                        <td>{{dashboard.details1.names.pos.val[0].pos_value}}</td>
                                    </tr>
                                    <tr class="success">
                                        <td><strong>Email Id:</strong></td>
                                        <td>{{dashboard.details1.names.name_n_join_date_contact[0].mail}}</td>
                                        <td><strong>Date Of Birth:</strong></td>
                                        <td>{{dashboard.details1.names.personal_details[0].birth_date | date:'dd-MM-yyyy'}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                    </section>
                </div>
            </div>
        </div>
        <div class="tile portlet bg-primary" ng-show="dashboard.show" style="position: inherit;">
            <div class="fluid-container">
                <section class="tile-header">
                    <h3 style="text-align: center;">Reporting Information</h3>
                </section>
                <section class="tile-body bg-white" style="font-size: 120%; color: black;overflow-x: auto;">
                    <table class="table ">
                        <thead>
                            <th>Reporting No.</th>
                            <th>Reporting Dept.</th>
                            <th>Reporting To</th>
                        </thead>
                        <tr ng-repeat="x in dashboard.details1.names.reporting_level.ids " ng-class="dashboard.sh[{{x.reporting_level}}]" | unique:>
                            <td> Reporting level {{x.reporting_level}}</td>
                            <td>{{x.department}}</td>
                            <td>{{x.designation}}</td>
                        </tr>
                    </table>
                </section>
            </div>
        </div>
        <div class="tile portlet bg-primary" ng-show="dashboard.show" style="position: inherit;">
            <div class="fluid-container">
                <section class="tile-header">
                    <h3 style="text-align: center;">Correspondance Address</h3>
                </section>
                <section class="tile-body bg-white" style="font-size: 120%; color: black;overflow-x: auto;">
                    <div class="table-responsive">
                        <table class="table ">
                            <tr class="danger">
                                <td><strong>Address Line 1</strong></td>
                                <td ng-if="dashboard.details1.names.residential_details[0].corresp_add_1 !=null">{{dashboard.details1.names.residential_details[0].corresp_add_1}}</td>
                                <td ng-if="dashboard.details1.names.residential_details[0].corresp_add_1 ==null">{{dashboard.details1.names.residential_details[0].permanent_add_1}}</td>
                                <td><strong>Address Line 2</strong></td>
                                <td ng-if="dashboard.details1.names.residential_details[0].corresp_add_2 !=null">{{dashboard.details1.names.residential_details[0].corresp_add_2}}</td>
                                <td ng-if="dashboard.details1.names.residential_details[0].corresp_add_2 ==null">{{dashboard.details1.names.residential_details[0].permanent_add_2}}</td>
                            </tr>
                            <tr>
                                <td><strong>City</strong></td>
                                <td ng-if="dashboard.details1.names.residential_details[0].corresp_place !=null">{{dashboard.details1.names.residential_details[0].corresp_place}}</td>
                                <td ng-if="dashboard.details1.names.residential_details[0].corresp_place ==null">{{dashboard.details1.names.residential_details[0].place}}</td>
                                <td><strong>District</strong></td>
                                <td ng-if="dashboard.details1.names.residential_details[0].corresp_district !=null">{{dashboard.details1.names.residential_details[0].corresp_district}}</td>
                                <td ng-if="dashboard.details1.names.residential_details[0].corresp_district ==null">{{dashboard.details1.names.residential_details[0].district}}</td>
                            </tr>
                            <tr class="active">
                                <td><strong>State</strong></td>
                                <td ng-if="dashboard.details1.names.residential_details[0].c_state__value !=null">{{dashboard.details1.names.residential_details[0].c_state__value}}</td>
                                <td ng-if="dashboard.details1.names.residential_details[0].c_state__value ==null">{{dashboard.details1.names.residential_details[0].p_state__value}}</td>
                                <td><strong>Pincode</strong></td>
                                <td ng-if="dashboard.details1.names.residential_details[0].corresp_pin !=null">{{dashboard.details1.names.residential_details[0].corresp_pin}}</td>
                                <td ng-if="dashboard.details1.names.residential_details[0].corresp_pin ==null">{{dashboard.details1.names.residential_details[0].pin}}</td>
                            </tr>
                        </table>
                    </div>
                </section>
            </div>
        </div>
        <div class="tile portlet bg-primary" ng-show="dashboard.show" style="position: inherit;">
            <div class="fluid-container">
                <section class="tile-header">
                    <h3 style="text-align: center;">Permanent Address</h3>
                </section>
                <section class="tile-body bg-white" style="font-size: 120%;color: black;overflow-x: auto;">
                    <div class="table-responsive">
                        <table class="table ">
                            <tr class="danger">
                                <td><strong>Address Line 1</strong></td>
                                <td>{{dashboard.details1.names.residential_details[0].permanent_add_1}}</td>
                                <td><strong>Address Line 2</strong></td>
                                <td>{{dashboard.details1.names.residential_details[0].permanent_add_2}}</td>
                            </tr>
                            <tr>
                                <td><strong>City</strong></td>
                                <td>{{dashboard.details1.names.residential_details[0].place}}</td>
                                <td><strong>District</strong></td>
                                <td>{{dashboard.details1.names.residential_details[0].district}}</td>
                            </tr>
                            <tr class="info">
                                <td><strong>State</strong></td>
                                <td>{{dashboard.details1.names.residential_details[0].p_state__value}}</td>
                                <td><strong>Pincode</strong></td>
                                <td>{{dashboard.details1.names.residential_details[0].pin}}</td>
                            </tr>
                        </table>
                    </div>
                </section>
            </div>
        </div>
        <div class="tile portlet bg-primary" ng-show="dashboard.show" style="position: inherit;">
            <div class="fluid-container">
                <section class="tile-header">
                    <h3 style="text-align: center;">Contact Info</h3>
                </section>
                <section class="tile-body bg-white" style="font-size: 120%; color: black;">
                    <div class="table-responsive">
                        <table class="table ">
                            <tr class="warning">
                                <td><strong>Facebook</strong></td>
                                <td>-</td>
                                <td><strong>E-mail</strong></td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td><strong>Linkedin</strong></td>
                                <td>-</td>
                                <td><strong>Area of Interest</strong></td>
                                <td>-</td>
                            </tr>
                        </table>
                    </div>
                </section>
            </div>
        </div>
        
    <!-- ///////////////////////// -->
    <!-- /////////////////////////////// -->
    <div class="row">
        <div class="col-lg-4 col-md-6">
        </div>
    </div>
</div>
<div class="col-sm-0 col-md-1 col-lg-2"></div>
</div>
</div>

</div>
