<style>
  input[type="radio"] {
    width: 25px;
    height: 25px;
  }

  html {
    scroll-behavior: smooth;
  }

  .task-container {
    cursor: default !important;
  }

  label {
    font-weight: 1000;
  }

  /* .hover_questions:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  transition: 0.5s linear;

} */
  .ques_label {
    font-size: 1.3em;
    font-weight: 700;
  }

  .mainTile {
    padding: 50px !important;
  }

  uib-accordion {
    padding: 10px;
  }

  .question {
    display: inline-flex;
  }

  /* .option{
   padding:0px !important;
 } */
  /* .formBtn{
    margin-top: 40px !important;
  } */
  .remarks {
    max-height: 70px;
  }

  .ta-editor.ta-html,
  .ta-scroll-window.form-control {
    min-height: 150px !important;
  }

  .ta-scroll-window > .ta-bind {
    min-height: 150px;
  }

  .element_select {
    height: 50px;
  }

  .element_btn {
    width: 150px;
    margin-bottom: 25px !important;
  }

  .element_row {
    margin-bottom: 2%;
  }

  .question_area {
    /* border: 3px solid black; */
    padding: 20px;
    width: 95%;
    margin: auto;
  }

  .panel-heading {
    padding: 0.5px 10px !important;
  }

  .custom {
    width: 200px;
    padding: 10px;
  }

  .task-container1 {
    border-radius: 5px;
    padding: 2%;
    border-left: 4px solid #3899d0;

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    /* padding: 15px; */
    background-color: white;
    margin-bottom: 15px;
    /* border-left: 3px solid; */
    position: relative;
    transition: all 0.25s linear;
  }

  .step2 table,
  .step2 tr,
  .step2 td,
  .step2 th {
    /* height: 500px; */
    border: 1px solid rgb(179, 171, 171) !important;
    vertical-align: middle !important;
  }
</style>
<div class="controller">
  <div class="row">
    <div class="col-sm-0 col-md-1 col-lg-2"></div>
    <div class="col-sm-12 col-md-10 col-lg-8">
      <div class="page page-forms pull-to-header" style="padding-top: 0">
        <!-- Form Dropdown -->
        <section class="tile" print-remove>
          <h3 class="alert alert-info heading">FORM</h3>
          <section class="tile-body">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6">
                  <div class="col-md-4">
                    <label for="branch" class="control-label minotaur-label">
                      Couser
                    </label>
                  </div>
                  <div class="col-md-8">
                    <input
                      placeholder="Cource"
                      ng-model="vm.course"
                      type="text"
                      class="form-control input"
                      name=""
                      id=""
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-4">
                    <label for="bloom" class="control-label minotaur-label">
                      Subject
                    </label>
                  </div>
                  <div class="col-md-8">
                    <input
                      placeholder="Subject"
                      ng-model="vm.subject"
                      type="text"
                      class="form-control input"
                      name=""
                      id=""
                    />
                  </div>
                </div>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6">
                  <div class="col-md-4">
                    <label for="sem" class="control-label minotaur-label">
                      Start Date
                    </label>
                  </div>
                  <div class="col-md-8">
                    <div ng-controller="DatepickerPopupController as ctrl">
                      <input
                        type="text"
                        placeholder="Start Date"
                        class="form-control"
                        uib-datepicker-popup="{{ctrl.format}}"
                        ng-model="vm.startDate"
                        is-open="ctrl.popup1.opened"
                        close-text="Close"
                        name="fdate"
                        id="fdate"
                        ng-click="ctrl.open1($event)"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-4">
                    <label for="sem" class="control-label minotaur-label">
                      End Date
                    </label>
                  </div>
                  <div class="col-md-8">
                    <div ng-controller="DatepickerPopupController as ctrl">
                      <input
                        type="text"
                        placeholder="End Date"
                        class="form-control"
                        uib-datepicker-popup="{{ctrl.format}}"
                        ng-model="vm.endDate"
                        is-open="ctrl.popup1.opened"
                        close-text="Close"
                        name="fdate"
                        id="fdate"
                        ng-click="ctrl.open1($event)"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6">
                  <div class="col-md-4">
                    <label for="sem" class="control-label minotaur-label">
                      Start Time
                    </label>
                  </div>
                  <div class="col-md-8">
                    <input
                      type="text"
                      name="time"
                      class="form-control"
                      ng-model="vm.start_time"
                      placeholder="Start Time"
                      bs-timepicker
                      data-length="1"
                      data-time-format="HH:mm"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-4">
                    <label for="subject" class="control-label minotaur-label">
                      End Time
                    </label>
                  </div>
                  <div class="col-md-8">
                    <input
                      type="text"
                      name="duration"
                      class="form-control"
                      ng-model="vm.end_time"
                      placeholder="End Time"
                      bs-timepicker
                      data-length="1"
                      data-time-format="HH:mm"
                    />
                  </div>
                </div>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6">
                  <div class="col-md-4">
                    <label for="bloom" class="control-label minotaur-label">
                      Exam Title
                    </label>
                  </div>
                  <div class="col-md-8">
                    <input
                      ng-model="vm.exam_title"
                      type="text"
                      class="form-control input"
                      name=""
                      id=""
                    />
                  </div>
                </div>
              </div>
            </div>

            <br />

            <div class="row">
              <center>
                <!-- <button
            style="margin-top: 20px"
            ng-disabled=""
            class="btn btn-primary"
            ng-click="vm.nextStep(vm.survey_selected); vm.getOldJson(); vm.date_conversion()"
          >
            Submit
          </button> -->
                <button
                  style="margin-top: 20px"
                  ng-disabled=""
                  class="btn btn-primary"
                  ng-click="vm.datetime_conversion()"
                >
                  Submit
                </button>
              </center>
            </div>

            <br />
          </section>
          <!-- Form Dropdown End-->
        </section>

        <section ng-if="vm.Formsteps" class="tile" print-remove>
          <!-- <section class="tile" print-remove> -->
          <h3 class="alert alert-info heading">CREATE FORM</h3>
          <section class="tile-body">
            <span>
              <div class="text-center">
                <span style="font-size: 22px; font-weight: bolder"
                  >{{vm.instituteName}}</span
                >
                
              </div>
              <div class="text-center">
                <span style="font-size: 22px; font-weight: bolder">
                  {{vm.course}} - {{vm.subject}}
                </span>
              </div>

              <div class="row" style="margin-top: 10px">
                <div class="text-center font_head">
                  <span class="border_btm h5"
                    ><b>{{vm.exam_title}}</b></span
                  >
                </div>
              </div>

              <div class="row" style="margin-top: 10px; margin-bottom: 15px">
                <div class="text-center font_head">
                  <span class="border_btm"><b>{{vm.formTitle}}</b></span>
                </div>
              </div>
              <div style="border: 1px solid black"></div>
              <br />
              <div class="row">
                <div class="col-md-6" style="padding: 0">
                  <div
                    class="col-md-2 text-center"
                    style="font-size: 16px; padding-right: 0"
                  >
                    <b>Note:- </b>
                  </div>
                  <div class="col-md-10 text-left Padding_TL">
                    <ul
                      class="list-type caret-right Padding_TL"
                      style="margin-top: -1px"
                    >
                      <li class="Padding_TL">
                        Click on plus button to add new question.
                      </li>
                      <li class="Padding_TL">
                        In step 1 select the type of question.
                      </li>
                      <li class="Padding_TL">
                        In step 2 fill the necessary attributes of selected
                        question.
                      </li>
                      <li class="Padding_TL">
                        After completion click on submit button at the bottom of
                        the page.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <br />

              <!-- Clear Form Button -->
              <div class="row">
                <div style="padding: 27px" class="col-md-12">
                  <span style="float: right">
                    <span style="color: #ff0066"><b>Clear form</b></span>
                    <a
                      href
                      class="icon icon-hotpink icon-ef-9 icon-color"
                      ng-click="vm.clearForm()"
                    >
                      <i class="fa fa-trash"></i>
                    </a>
                  </span>
                </div>
              </div>

              <!-- Created Form Display -->
              <div class="row mainTile">
                <div
                  ng-repeat="x in vm.forms track by $index"
                  ng-include
                  src="'app/pages/MMS/createActivityForm/form.html'"
                ></div>
              </div>

              <!-- Add Question Button -->
              <div class="col-md-12" ng-if="vm.btnForm">
                <span style="float: right">
                  <span style="color: #099ae3"><b>Add Ques.</b></span>
                  <a
                    href
                    class="icon icon-cyan icon-ef-4 icon-ef-4b icon-color"
                    style="color: #099ae3"
                    ng-click="vm.ShowQues('form')"
                    ><i class="fa fa-plus"></i>
                  </a>
                </span>
              </div>

              <br />
              <br />
              <span ng-if="vm.AddForm">
                <div
                  ng-include
                  src="'app/pages/MMS/createActivityForm/addQuestion.html'"
                ></div>
              </span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <center>
                    <!-- <button ng-click="vm.editable()" class="btn btn-primary"> -->
                    <button ng-if="!vm.edit_status" ng-click="vm.sendJson()" class="btn btn-primary">
                      Submit
                    </button>
                    <button ng-if="vm.edit_status" ng-click="vm.sendJson()" class="btn btn-primary">
                      Update
                    </button>
                  </center>
                </div>
              </div>
              <br />
              <br />
            </span>
          </section>
        </section>
        <!-- ===========================view previous=================================== -->
        <button
    class="
      btn btn-primary btn-border btn-rounded-20 btn-ef btn-ef-4 btn-ef-4b
      mb-10
    "
    ng-click="vm.hideviewPrevious()"
  >
    View Previous <i class="fa fa-arrow-down"></i>
  </button>
  <br />

  <section ng-if="vm.viewPrevious" class="tile" print-remove>
    <h3 class="alert alert-info heading">PREVIOUS FORMS</h3>
    <section class="tile-body">
      <table
        ng-table="vm.tableParams"
        class="table minotaur-table ng-table-rowselected"
      >
        <tr ng-repeat="x in $data">
          <td data-title="'Sno.'">{{$index+1}}</td>
          <td
            data-title="'Course'"
            data-sortable="'course'"
            filter="{ 'course': 'text' }"
          >
            {{x.course}}
          </td>
          <td
            data-title="'Subject'"
            data-sortable="'subject'"
            filter="{ 'subject': 'text' }"
          >
            {{x.subject}}
          </td>
          <td
            data-title="'Exam Title'"
            data-sortable="'exam_title'"
            filter="{ 'exam_title': 'text' }"
          >
            {{x.exam_title}}
          </td>
          <td
            data-title="'Start Time'"
            data-sortable="'start_time'"
            filter="{ 'start_time': 'text' }"
          >
            {{x.start_time}}
          </td>
          <td
            data-title="'End Time'"
            data-sortable="'end_time'"
            filter="{ 'end_time': 'text' }"
          >
            {{x.end_time}}
          </td>
          <td data-title="'Edit'">
            <button
              type="button"
              class="btn btn-default mb-10"
              activate-button
              ng-click="vm.getOldJson(x.id)"
            >
              view
            </button>
          </td>
          <td data-title="'Delete Survey'">
            <button
              type="button"
              class="btn btn-danger mb-10"
              activate-button
              ng-click="vm.deleteForm(x.id)"
            >
              <i class="fa fa-trash"></i> delete
            </button>
          </td>
        </tr>
      </table>
    </section>
  </section>
</div>
      </div>
    </div>
    <div class="col-sm-0 col-md-1 col-lg-2"></div>
  </div>
</div>
