<!-- <input type="file"  data-placement="right" class="form-control" name="" id=""> -->
<!-- <div class="col-md-6"> -->
<!-- <input type="file" uib-tooltip="{{x.info}}" class="filestyle" filestyle button-text="File Upload"  ng-disabled="x.answerable" icon-name="fa fa-inbox"> -->
<!-- </div> -->
<input name="doc" uib-tooltip="{{x.info}}"  type="file" class="filestyle" file-model="vm.myFile2" ng-model="vm.file" filepreview="filepreview" filestyle="{buttonText: 'Select image',iconName: 'fa fa-file-image-o'}" id="doc" name="doc" onchange="angular.element(this).scope().upload(this.files,this.id,'indirect','indirect')" ng-required="true">

<span ng-if="x.isremarks == true">
    <br>
            <textarea placeholder="Remarks"  ng-model="x.remarks" class="remarks form-control" name="" id="" cols="30" rows="10"></textarea>
        </span>
<br>